
@include breakpoint($breakpoint_tablet-large-up) {

	// grid-4-col-same-width
	//
	// Markup:	<div class="grid-container grid-3-col-same-width">
	//   <div class="grid-col grid-col-left">
	//     <p>Left column</p>
	//   </div>
	//   <div class="grid-col grid-col-center">
	//     <p>Center column</p>
	//   </div>
	//   <div class="grid-col grid-col-right">
	//     <p>Right column</p>
	//   </div>
	// </div>
	//
	// Styleguide 12.4
	.grid-3-col-same-width {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;

		width: calc(100% + 20px);
		margin: 0 -10px;
		.grid-col {
			width: 33.333%;
			margin: 0 10px;
		}
	}

}
