<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers" data-namespace-typo3-fluid="true">

<f:variable name="colcount" value="{gallery.count.columns}" />
<f:if condition="{colcount} > 6">
    <f:then>
        <f:variable name="gridcolumns" value="1" />
    </f:then>
    <f:else>
        <f:if condition="{colcount} > 4">
            <f:then>
                <f:variable name="gridcolumns" value="2" />
            </f:then>
            <f:else>
                <f:if condition="{colcount} > 3">
                    <f:then>
                        <f:variable name="gridcolumns" value="3" />
                    </f:then>
                    <f:else>
                        <f:if condition="{colcount} > 2">
                            <f:then>
                                <f:variable name="gridcolumns" value="4" />
                            </f:then>
                            <f:else>
                                <f:if condition="{colcount} > 1">
                                    <f:then>
                                        <f:variable name="gridcolumns" value="6" />
                                    </f:then>
                                    <f:else>
                                        <f:variable name="gridcolumns" value="12" />
                                    </f:else>
                                </f:if>
                            </f:else>
                        </f:if>
                    </f:else>
                </f:if>
            </f:else>
        </f:if>
    </f:else>
</f:if>
<f:if condition="{gallery.rows}">
    <div class="ce-gallery{f:if(condition: data.imageborder, then: ' ce-border')}" data-ce-columns="{gallery.count.columns}" data-ce-images="{gallery.count.files}">
        <f:if condition="{gallery.position.horizontal} == 'center'">
            <div class="ce-outer">
                <div class="ce-inner">
        </f:if>
        <f:for each="{gallery.rows}" as="row">
            <div class="row">
                <f:for each="{row.columns}" as="column">
                    <f:if condition="{column.media}">
                        <div class="col-12 col-md-6 col-lg-{gridcolumns} mb-4">
                            <f:render partial="Media/Type" arguments="{file: column.media, dimensions: column.dimensions, data: data, settings: settings}" />
                        </div>
                    </f:if>
                </f:for>
            </div>
        </f:for>
        <f:if condition="{gallery.position.horizontal} == 'center'">
                </div>
            </div>
        </f:if>
    </div>
</f:if>
</html>
