/*!**********************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/resolve-url-loader/index.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/scss/circle.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************/
.fill-white-100 > svg {
  fill: white;
}
.fill-white-80 > svg {
  fill: rgba(255, 255, 255, 0.8);
}
.fill-white-60 > svg {
  fill: rgba(255, 255, 255, 0.6);
}
.fill-white-40 > svg {
  fill: rgba(255, 255, 255, 0.4);
}
.fill-white-20 > svg {
  fill: rgba(255, 255, 255, 0.2);
}

.fill-red-100 > svg {
  fill: #d8232a;
}
.fill-red-80 > svg {
  fill: rgba(216, 35, 42, 0.8);
}
.fill-red-60 > svg {
  fill: rgba(216, 35, 42, 0.6);
}
.fill-red-40 > svg {
  fill: rgba(216, 35, 42, 0.4);
}
.fill-red-20 > svg {
  fill: rgba(216, 35, 42, 0.2);
}

.fill-darkred-100 > svg {
  fill: #622226;
}
.fill-darkred-80 > svg {
  fill: rgba(98, 34, 38, 0.8);
}
.fill-darkred-60 > svg {
  fill: rgba(98, 34, 38, 0.6);
}
.fill-darkred-40 > svg {
  fill: rgba(98, 34, 38, 0.4);
}
.fill-darkred-20 > svg {
  fill: rgba(98, 34, 38, 0.2);
}

.fill-darkgrey-100 > svg {
  fill: #363636;
}
.fill-darkgrey-80 > svg {
  fill: rgba(54, 54, 54, 0.8);
}
.fill-darkgrey-60 > svg {
  fill: rgba(54, 54, 54, 0.6);
}
.fill-darkgrey-40 > svg {
  fill: rgba(54, 54, 54, 0.4);
}
.fill-darkgrey-20 > svg {
  fill: rgba(54, 54, 54, 0.2);
}

.fill-grey-100 > svg {
  fill: #c3c3c3;
}
.fill-grey-80 > svg {
  fill: rgba(195, 195, 195, 0.8);
}
.fill-grey-60 > svg {
  fill: rgba(195, 195, 195, 0.6);
}
.fill-grey-40 > svg {
  fill: rgba(195, 195, 195, 0.4);
}
.fill-grey-20 > svg {
  fill: rgba(195, 195, 195, 0.2);
}

.fill-lightgrey-100 > svg {
  fill: #f2f2f2;
}
.fill-lightgrey-80 > svg {
  fill: rgba(242, 242, 242, 0.8);
}
.fill-lightgrey-60 > svg {
  fill: rgba(242, 242, 242, 0.6);
}
.fill-lightgrey-40 > svg {
  fill: rgba(242, 242, 242, 0.4);
}
.fill-lightgrey-20 > svg {
  fill: rgba(242, 242, 242, 0.2);
}
