<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

	<header class="container container--header header collapse-item">
		<div class="container__inner header__inner">
			<div class="header__logo logo logo--header">
				<f:link.page class="logo__anchor" pageUid="{homePid}">
					<f:image src="EXT:lmr_sitepackage/Resources/Public/Images/Logo/Landesmusikrat-NRW-Logo.svg"
							 width="255" alt="" />
				</f:link.page>
			</div>
			<a href="#" class="header__navigation-panel-toggle navigation-panel-toggle">
				<span class="navigation-panel-toggle__bar"></span>
				<span class="navigation-panel-toggle__bar"></span>
				<span class="navigation-panel-toggle__bar"></span>
				<span class="navigation-panel-toggle__bar"></span>
			</a>
			<div class="header__navigation">
				{navMain -> f:format.html(parseFuncTSPath: '')}
			</div>
		</div>
        <div id="searchbar" class="searchbox container__inner navigation-main__list--level-1" data-collapse-target="1" >
            <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos:'0',slide:'0',pageUid:'359'}" />
        </div>
	</header>

	<f:comment>
		<div class="navigation-main navigation-panel ">
			<div class="container__inner navigation-main__inner navigation-panel__inner">
				<div class="navigation-main">
					{navMain -> f:format.html(parseFuncTSPath: '')}
				</div>
			</div>
		</div>
	</f:comment>

</html>
