<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />
	<f:section name="Main">

		<f:if condition="{menu}">
			<div class="menu-pages">
				<ul class="menu-pages__list">
					<f:for each="{menu}" as="page">
						<f:variable name="firstImage" value="" />
						<li class="teaser-box menu-pages__list-item">
							<a class="teaser-box__anchor" href="{page.link}"{f:if(condition: page.target, then: ' target="{page.target}"')} title="{page.title}">
							<div class="teaser-box__columns">
								<div class="teaser-box__image-wrap">
									<f:if condition="{page.content}">
										<f:for each="{page.content}" as="element">
											<f:if condition="{firstImage}">
												<f:else if="{element.files.0}">
													<f:variable name="firstImage" value="{element.files.0}" />
												</f:else>
											</f:if>
										</f:for>
									</f:if>

									<f:if condition="{firstImage}">
										<f:then>
											<f:switch expression="{firstImage.properties.image_style}">
												<f:case value="no-modification">
													<f:variable name="imageStyle" value="no-modification" />
												</f:case>
												<f:case value="grayscale">
													<f:variable name="imageStyle" value="grayscale" />
												</f:case>
                                                <f:defaultCase>
                                                    <f:variable name="imageStyle" value="grayscale" />
                                                </f:defaultCase>
											</f:switch>
											<f:image class="teaser-box__image image image--{imageStyle}" image="{firstImage}" width="130c" height="130c" />
										</f:then>
										<f:else>
											<div class="teaser-box__image teaser-box__image--empty">
												<div class="teaser-box__image-circle circle circle--tiny"></div>
											</div>
										</f:else>
									</f:if>

								</div>
								<div class="teaser-box__text-wrap">
									<div class="teaser-box__text">
										<header class="teaser-box__header">
											<span class="teaser-box__brow brow">
												{data.header}
											</span>
											<h4 class="teaser-box__headline">
												{page.title}
											</h4>
										</header>
										<div class="teaser-box__content">
											<f:format.crop maxCharacters="200" respectWordBoundaries="1">
												<f:if condition="{page.content}">
													<f:for each="{page.content}" as="element">
														{element.data.bodytext -> f:format.stripTags()}
													</f:for>
												</f:if>
											</f:format.crop>
										</div>
										<div class="teaser-box__link-fake link-fake">weiterlesen</div>
									</div>
								</div>
							</div>
							</a>
						</li>
					</f:for>
				</ul>
			</div>
		</f:if>

	</f:section>
</html>
