<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
	<div class="wrapper">
		<f:render partial="Header" arguments="{_all}" />
		<f:render partial="Breadcrumb" arguments="{_all}" />
		<!--TYPO3SEARCH_begin-->
		<div class="container container--content content">
			<div class="container__inner content__inner">
			{contentMain -> f:format.raw()}
			</div>
		</div>
		<!--TYPO3SEARCH_end-->
	</div>
	<f:render partial="Footer" arguments="{_all}" />
</html>
