<html 
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" 
        xmlns:fx="http://typo3.org/ns/Failx/LmrNrw/ViewHelpers"
        data-namespace-typo3-fluid="true">
    <f:comment>
        <f:media class="image-embed-item img img-fluid" file="{file}" width="{dimensions.width}"
                 height="{dimensions.height}" alt="{file.alternative}" title="{file.title}" />
    </f:comment>
    <f:variable name="imageStyle" value="{file.properties.image_style}" />
    <f:variable name="pictureClass" value="{f:if(condition:pPictureClass, then:'{pPictureClass} {imageStyle}', else:'position-relative {imageStyle}')}" />
    <f:variable name="imageClass" value="{f:if(condition:pImageClass, then:'{pImageClass}', else:'image-embed-item  img img-fluid')}" />
    <f:if condition="{file.originalResource.properties.image_style}">
        <f:variable name="imageStyle" value="{file.originalResource.properties.image_style}" />
    </f:if>
    <f:if condition="{file.extension} == 'svg'">
        <f:then>
            <f:image treatIdAsReference="1"
                class="image-embed-item  img img-fluid {imageStyle}"
                width="{dimensions.width}"
                maxWidth="1920"
                height="{dimensions.height}"
                src="{file.uid}"
                title="{file.title}"
                alt="{file.alternative}"
                crop="{file.crop}" />
        </f:then>
        <f:else>
            <picture class="{pictureClass}">
                <f:render section="image" arguments="{
                        file: file,
                        dimensions: dimensions,
                        width: '575m',
                        cropVariant:'smartphone-portrait',
                        responsiveWidth:'575px',
                        orientation:'portrait'
                    }" />
                <f:render section="image" arguments="{
                        file: file,
                        dimensions: dimensions,
                        width: '575m',
                        cropVariant:'smartphone-landscape',
                        responsiveWidth:'575px',
                        orientation:'landscape'
                    }" />
                <f:render section="image" arguments="{
                        file: file,
                        dimensions: dimensions,
                        width: '767m',
                        cropVariant:'smartphone-portrait',
                        responsiveWidth:'767px',
                        orientation:'portrait'
                    }" />
                <f:render section="image" arguments="{
                        file: file,
                        dimensions: dimensions,
                        width: '767m',
                        cropVariant:'smartphone-landscape',
                        responsiveWidth:'767px',
                        orientation:'landscape'
                    }" />
                <f:render section="image" arguments="{
                        file: file,
                        dimensions: dimensions,
                        width: '991m',
                        cropVariant:'tablet-portrait',
                        responsiveWidth:'991px',
                        orientation:'portrait'
                    }" />
                <f:render section="image" arguments="{
                        file: file,
                        dimensions: dimensions,
                        width: '991m',
                        cropVariant:'tablet-landscape',
                        responsiveWidth:'991px',
                        orientation:'landscape'
                    }" />
                <f:render section="image" arguments="{
                        file: file,
                        dimensions: dimensions,
                        width: '1200m',
                        cropVariant:'desktop-md',
                        responsiveMinWidth:'992px',
                        responsiveMaxWidth:'1199px'
                    }" />
                <f:render section="image" arguments="{
                        file: file,
                        dimensions: dimensions,
                        width: dimensions.width,
                        cropVariant:'default',
                        responsiveMinWidth:'1200px',
                        maxWidth: '2121'
                    }" />
                <f:image treatIdAsReference="1"
                        class="{imageClass}"
                        width="{dimensions.width}"
                        maxWidth="2121"
                        height="{dimensions.height}"
                        src="{file.uid}"
                        title="{file.title}"
                        alt="{file.alternative}"
                        crop="{file.crop}" />
            </picture>
        </f:else>
    </f:if>

    <f:section name="image">
        <f:variable name="media" value="" />
        <f:if condition="{responsiveWidth}">
            <f:variable name="media" value="(max-width: {responsiveWidth}){f:if(condition:media,then:' and {media}')}" />
        </f:if>
        <f:if condition="{responsiveMaxWidth}">
            <f:variable name="media" value="(max-width: {responsiveMaxWidth}){f:if(condition:media,then:' and {media}')}" />
        </f:if>
        <f:if condition="{responsiveMinWidth}">
            <f:variable name="media" value="(min-width: {responsiveMinWidth}){f:if(condition:media,then:' and {media}')}" />
        </f:if>
        <f:if condition="{orientation}">
            <f:variable name="media" value="(orientation: {orientation}){f:if(condition:media, then:' and {media}')}" />
        </f:if>
        <fx:exists file="{f:uri.image(src:file.uid, treatIdAsReference:1, width:'{width}', maxWidth:'{maxWidth}',cropVariant:'{cropVariant}') -> fx:substring(start:'1')}.webp">
            <source media="{media}"
                    srcset="{f:uri.image(src:file.uid, treatIdAsReference:1, width:'{width}', maxWidth:'{maxWidth}', cropVariant:'{cropVariant}')}.webp"
                    type="image/webp"
            >
        </fx:exists>
        <source media="{media}"
                srcset="{f:uri.image(src:file.uid, treatIdAsReference:1, width:'{width}', maxWidth:'{maxWidth}', cropVariant:'{cropVariant}')}">
    
    </f:section>
</html>
