<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:mi="http://typo3.org/ns/Smichaelsen/MelonImages/ViewHelpers">

<div class="stage-item">
	<div class="stage-item__inner">
		<f:link.typolink class="stage-item__anchor" parameter="{data.header_link}">
			<f:if condition="{data_image.0}">
				<div class="stage-item__image-wrap">
					<mi:responsivePicture fileReference="{data_image.0}" class="stage-item__image" />
				</div>
			</f:if>
			<div class="stage-item__circle-1 circle circle--large"></div>
			<div class="stage-item__circle-2 circle circle--medium"></div>
			<div class="stage-item__circle-3 circle circle--small"></div>
			<div class="stage-item__text-block">
				<f:if condition="{data.tx_lmrcontentprovider_brow}">
					<div class="stage-item__brow brow">
						{data.tx_lmrcontentprovider_brow}
					</div>
				</f:if>
				<h3 class="stage-item__header">
					{data.header}
				</h3>
				<div class="stage-item__text">
					{data.bodytext -> f:format.html()}
					<f:if condition="{data.header_link}">
						<span class="stage-item__link-fake link-fake">
							weiterlesen
						</span>
					</f:if>
				</div>
			</div>
		</f:link.typolink>
	</div>
</div>
