<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">
	<f:variable name="newsclass" value="col-12 col-sm-4 col-md" />
	<f:variable name="topnewsclass" value="col-12 col-md" />
	<f:if condition="{topnews} == 2">
		<f:variable name="topnewsclass" value="col-12 col-md" />
	</f:if>
	<div class="{f:if(condition: newsItem.istopnews, then: '{topnewsclass}', else: '{newsclass}')}">
		<div class="article h-100 articletype-{newsItem.type} rounded{f:if(condition: newsItem.istopnews, then: ' topnews bg-red-100 p-3', else: ' bg-lightgrey-100 p-3')}" itemscope="itemscope" itemtype="http://schema.org/Article">
			<n:excludeDisplayedNews newsItem="{newsItem}"/>
			<div class="header">
				<h3>
					<n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
						<span itemprop="headline">{newsItem.title}</span>
					</n:link>
				</h3>
			</div>
			<div class="teaser-text">
				<n:removeMediaTags>
				<f:if condition="{newsItem.teaser}">
					<f:then>
						<div itemprop="description">{newsItem.teaser -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}</div>
					</f:then>
					<f:else>
						<div itemprop="description">{newsItem.bodytext -> f:format.crop(maxCharacters: '{settings.cropMaxCharacters}', respectWordBoundaries:'1') -> f:format.html()}</div>
					</f:else>
				</f:if>
				</n:removeMediaTags>
				<n:link newsItem="{newsItem}" settings="{settings}" class="more" title="{newsItem.title}">
					<f:translate key="more-link"/>
				</n:link>
			</div>
			<div class="footer">
				<p>
					<span class="news-list-date">
						<time itemprop="datePublished" datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}">
							<f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date>
						</time>
					</span>
					<f:if condition="{newsItem.firstCategory}">
						<span class="news-list-category">{newsItem.firstCategory.title}</span>
					</f:if>
				</p>
			</div>
		</div>
	</div>
	<f:if condition="{topnews} > 1 && {iterator.cycle} == 2">
		<div class="w-100"></div>
	</f:if>
</html>
