<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:spaceless>
    <p class="mb-0"><f:format.raw>{data.header -> f:format.nl2br()}</f:format.raw></p>
    <div class="h2">
        <f:if condition="{data.counter_currency} && {data.counter_currencyposition} == 'left'">
            <span class="currency">{data.counter_currencysymbol}</span>
        </f:if>
        <span 
        data-purecounter-start="{data.counter_start}" 
        data-purecounter-end="{data.counter_end}" 
        data-purecounter-duration="{data.counter_duration}"
        data-purecounter-delay="{data.counter_delay}"
        data-purecounter-decimals="{data.counter_decimals}"
        data-purecounter-decimalseparatorsymbol="{data.counter_decimalseparatorsymbol}"
        data-purecounter-once="{f:if(condition:data.counter_once,then:'true',else:'false')}"
        data-purecounter-separator="{f:if(condition:data.counter_separator,then:'true',else:'false')}"
        data-purecounter-separatorsymbol="{data.counter_separatorsymbol}"
        class="purecounter {data.frame_class}">{data.counter_start}</span>
        <f:if condition="{data.counter_currency} && {data.counter_currencyposition} == 'right'">
            <span class="currency">{data.counter_currencysymbol}</span>
        </f:if>
    </div>
</f:spaceless>
    <f:asset.script identifier="counter" src="EXT:lmr_nrw/Resources/Public/JavaScript/purecounter_vanilla.js" />
    <f:comment>
        start - The number to start from (if this is more than the end method it will automatically count down).
        end - The number to end at.
        duration - The time in seconds for the animation to complete, you can use decimals like: 0.5 for half a second.
        delay - The delay between each iteration (the default of 10 will produce 100 fps)
        once - If it should only do the animation once. If this is off the number will do the animation every time the element comes into view, otherwise it will only do it the first time.
        decimals - how many decimal places to show. It will automatically format the number according to the individual users browser standards.
        legacy - Purecounter will use the very lightweight & fast intersectionListener available in most modern browsers. If this is true it will use the scroll event listener on browsers which does not support the intersection listener (RECOMMENDED: true).
        currency - This will enable International Currency System format that will short your number (e.g. Thousands become K, Million become M, etc.), also integrated with decimals configuration (only show 1 decimals by default).
        currencysymbol - This is the char or symbol or string that will be added before the number when you enable Currency System format.
        separator - This will enable comma separator for thousands.
        separatorsymbol - Allow you to customize what separator symbol, if none is specified default symbol will be comma (,).
    </f:comment>
</html>