<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" 
    data-namespace-typo3-fluid="true">
    <f:asset.css 
        identifier="circle"
        href="EXT:lmr_nrw/Resources/Public/StyleSheet/circle.css" />
    <div 
        class="bg-circle overflow-hidden {data.circle_type} fill-{data.circle_color}-{data.circle_opacity} {data.circle_position}"
        style="{f:if(condition: '{data.circle_width} > 0', then:'width:{data.circle_width}%;')} {f:if(condition: '{data.circle_height} > 0', then:'height:{data.circle_height}%;')} margin:{data.circle_offset_y}% {data.circle_offset_x}%;">
        <f:cObject typoscriptObjectPath="lib.inlineSvg" data="{src: 'EXT:lmr_nrw/Resources/Public/Images/circle.svg'}" />
    </div>
</html>