<f:spaceless>
    <f:switch expression="{data.layout}">
        <f:case value="1">
            <f:variable name="classparameter" value="{f:if(condition:'{classname}',then:'{classname}',else:'container')}" />
            <f:render section="defaultContainer" arguments="{data:'{data}',classname:'{classparameter}'}" />
        </f:case>
        <f:case value="2">
            <f:variable name="classparameter" value="{f:if(condition:'{classname}',then:'{classname}',else:'container-fluid')}" />
            <f:render section="defaultContainer" arguments="{data:'{data}',classname:'{classparameter}'}" />
        </f:case>
        <f:case value="3">
            <f:variable name="classparameter" value="{f:if(condition:'{classname}',then:'{classname}',else:'container-fluid px-0')}" />
            <f:render section="defaultContainer" arguments="{data:'{data}',classname:'{classparameter}'}" />
        </f:case>
        <f:case value="4"></f:case>
        <f:defaultCase>
            <f:if condition="{data.tx_container_parent} > 0">
                <f:then>
                    <f:variable name="classparameter" value="{f:if(condition:'{classname}',then:'{classname}',else:'')}" />
                    <f:render section="defaultContainer" arguments="{data:'{data}',classname:'{classparameter}'}" /> 
                </f:then>
                <f:else>
                    <f:variable name="classparameter" value="{f:if(condition:'{classname}',then:'{classname}',else:'container-fluid px-0')}" />
                    <f:render section="defaultContainer" arguments="{data:'{data}',classname:'{classparameter}'}" /> 
                </f:else>
            </f:if>
        </f:defaultCase>
    </f:switch>

<f:section name="defaultContainer">
{f:if(condition:data.space_after_class, then: '{data.space_after_class}', else:'pb-4')} {data.space_before_class} {data.frame_class}-{data.opacity} {classname} frame-type-{data.CType}  {f:if(condition:data.overflow_hidden, then: 'overflow-hidden ')} {f:if(condition:data.circle_active, then: 'position-relative ')} {f:if(condition:data.layout, then: '{data.layout} ')}  {data.space_start_class} {data.space_end_class}
</f:section>
</f:spaceless>