.cookie-notice {
    display: none;
    visibility: visible;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $color_gray-dark;
    padding: 20px;

    @include breakpoint($breakpoint_desktop-up) {
        padding: 20px 50px;
    }

    .body--cookie-note-visible & {
        display: block;
        visibility: visible;
    }

    .body--cookie-note-acknowledged & {
        display: none;
        visibility: visible;
    }

    a {
        color: $color_red;
    }
}

.cookie-notice__headline {
    color: $color_red;
    margin-bottom: 10px;
}

.cookie-notice__text {
    color: $color_white;
}

.cookie-notice__btn {
    background-color: $color_red;
    color: $color_white;
    margin-right: 20px;

    &:hover {
        background-color: darken($color_red, 10%);
    }
}
