<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<ul class="{class}" id="{id}">
    <f:for each="{menu}" as="menu">
        <li class="nav-item mb-3 {f:if(condition: menu.current,then:'current')} {f:if(condition: menu.active,then:'active')}"
            itemprop="name">
            <f:if condition="{menu.children}">
                <f:then>
                    <f:render partial="Navigation/Sub" arguments="{
                                menu: menu,
                                class: 'nav'
                            }" />
                </f:then>
                <f:else>
                    <a href="{menu.link}" aria-label="Navigiere zur Seite {menu.title}"
                        class="nav-link {f:if(condition: menu.data.menu_highlight,then:'highlight')} {f:if(condition: menu.active,then:'active')}"
                        {f:if(condition:menu.target,then: 'target="{menu.target}"' )} itemprop="url">
                        <f:if condition="{menu.files}">
                            <f:then>
                                <f:image src="{menu.files.0.uid}" treatIdAsReference="1" alt="{menu.title}" class="img img-fluid" width="250m" />
                            </f:then>
                            <f:else>
                                {menu.title}
                            </f:else>
                        </f:if>
                        
                    </a>
                </f:else>
            </f:if>
        </li>
    </f:for>
</ul>

</html>