<html xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:variable name="level" value="1" />
<f:if condition="{plevel}">
    <f:variable name="level" value="{plevel + 1}" />
</f:if>

<f:variable name="navclasses" value="my-2 py-2" />
<f:if condition="{level} == 1">
    <f:variable name="navclasses" value="bg-lightgrey-100 cl-darkgrey my-0 py-0" />
</f:if>
<f:variable name="linkclass" value="" />
<f:if condition="{level} == 2">
    <f:variable name="linkclass" value="bg-grey-100" />

</f:if>
<f:if condition="{level} == 3">
    <f:variable name="navclasses" value="my-2 py-2 bg-grey-100" />
    <f:variable name="class" value="{class} bg-darkgrey-100" />
    <f:variable name="linkclass" value="bg-darkgrey-100" />
</f:if>
<a class="nav-link collapse-toggle flex-collapse d-flex align-items-center {navclasses}" href="#menu{menu.data.uid}"
    role="button" data-parent="#mainmenu"
    aria-expanded="{f:if(condition: '{menu.active} || {menu.current}', then:'true', else:'false')}">
    <span>{menu.title}</span>
    <em class="bi bi-chevron-down"></em>
</a>
<ul class="{class} d-flex level-{level} {f:if(condition: '{menu.active} || {menu.current}', then:'show')}"
    id="menu{menu.data.uid}">
    <f:for each="{menu.children}" as="submenu">
        <li class="w-100">
            <f:if condition="{submenu.children}">
                <f:then>
                    <f:render partial="Navigation/Sub" arguments="{
                                menu: submenu,
                                class: 'collapse nav',
                                plevel: level
                            }" />
                </f:then>
                <f:else>
                    <a href="{submenu.link}" aria-label="Navigiere zur Seite {submenu.title} unterhalb von {menu.title}"
                        class="nav-link my-3 {linkclass} {f:if(condition: submenu.data.menu_highlight,then:'highlight')} {f:if(condition: submenu.active,then:'active')}"
                        {f:if(condition:submenu.target,then: 'target="{submenu.target}"' )} itemprop="url">
                        {submenu.title}
                    </a>
                </f:else>
            </f:if>
        </li>
    </f:for>
</ul>

</html>