<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true"></html>
    <div class="tile rounded {tilebg} d-flex align-items-center justify-content-center position-relative">
        <span class="text-center">
            <span class="h2 text-uppercase">{menuitem.title}</span>
            <f:if condition="{menuitem.data.abstract}">
                {menuitem.data.abstract -> f:format.nl2br()}
            </f:if>
            <a class="position-absolute w-100 h-100 top-0 start-0" href="{menuitem.link}"></a>
        </span>
    </div>
</html>