<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="{layout}" />

<f:section name="main">

	<!--TYPO3SEARCH_begin-->
	<div class="container container--content content">
		<div class="container__inner content__inner">
			<div class="grid-container grid-2-1">
				<div class="grid-col grid-col-left">
					{contentMain -> f:format.raw()}
				</div>
				<div class="grid-col grid-col-right">
					{contentAside -> f:format.raw()}
				</div>
			</div>
		</div>
	</div>
	<!--TYPO3SEARCH_end-->

</f:section>

</html>
