
@include breakpoint($breakpoint_tablet-up) {

	// grid-2-col-same-width
	//
	// Markup:	<div class="grid-container grid-2-col-same-width">
	//   <div class="grid-col grid-col-left">
	//     <p>Content column</p>
	//   </div>
	//   <div class="grid-col grid-col-right">
	//     <p>Marginal column</p>
	//   </div>
	// </div>
	//
	// Styleguide 12.2
	.grid-2-col-same-width {
		display: flex;
		align-items: flex-start;

		.grid-col {
			width: 50%;
		}
		.grid-col-left {
			padding-right: 10px;
		}
		.grid-col-right {
			padding-left: 10px;
		}
	}

}
